@import url("./style.css");

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Initially hide the content */
.section__text__p1,
.title,
.section__pic-container img,
.about-containers,
.details-container,
.details-container h3,
.details-container p,
.text-container p {
    opacity: 0;
}


.about-containers p {
    color: black;
}

.about-containers h3 {
    color: black;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    background-color: var(--clr-dark);
    border-radius: 50%;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    background-color: white;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}