/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --clr-dark: black;
  --clr-light: white;
  --clr-hover: grey
}



.dark-mode {
  --clr-dark: white;
  --clr-light: black;
  --clr-hover: rgb(20, 228, 228);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-light);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--clr-dark);
}

h1 {
  color: var(--clr-dark);
}

h3 {

  color: var(--clr-dark);
}


a,
.btn {
  transition: all 300ms ease;
}



section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}